<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/index.css">
    <title>La Poudreuse - Accueil</title>
</head>
<body>
    <main>
        <header>
                <img src="../public/images/icons/logo.png" alt="Logo de La Poudreuse">
        </header>
        <div class="conteneur">
            <div class="descriptionConteneur">
                <p class="description">
                    La Poudreuse est une application web pour les amateurs de ski de randonnée, 
                    qui veulent trouvés et partager des lieux où pratiquer leur passion.
                </p>
            </div>
            <div class="compteConteneur">
                <div class="creation">
                    <h2>
                        Pas de compte !?
                    </h2>
                    <div>
                        <p>
                            C'est le temps de vous en créer un des maintenant, pour commencer votre aventure de ski.
                        </p>
                    </div>
                </div>
                <div class="connexion">
                    <h2>
                        Déjà un compte !
                    </h2>
                    <div>
                        <p>
                            Connectez-vous ici.
                        </p>
                    </div>
                </div>
                <div class="bouton">
                    <div class="btn-creer">
                        <a href="#"><input type="button" value="Se créer un compte"></a>
                    </div>
                    <div class="btn-connect">
                        <a href="#"><input type="button" value="Se connecter"></a>
                    </div>
                </div>
            </div>
        </div>
        <footer>
                <p>
                    Application web créer par Jean-François Gagnon
                </p>
        </footer>
    </main>
</body>
</html>