<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/user_profile.css">
    <title>La Poudreuse - Profil</title>
</head>
<body>
    <main>
        <header>
                <img src="../public/images/icons/logo.png" alt="Logo de La Poudreuse">
        </header>
        <h1>
            Profil de nom de la personne
        </h1>
        <table>
            <tr>
                <td>Nom complet :</td>
                <td>...</td>
            </tr>
            <tr>
                <td>Téléphone :</td>
                <td>...</td>
            </tr>
            <tr>
                <td>Ville :</td>
                <td>...</td>
            </tr>
            <tr>
                <td>Courriel :</td>
                <td>...</td>
            </tr>
            <tr>
                <td>Mot de Passe :</td>
                <td>...</td>
            </tr>
        </table>
        <a href="#"><input type="button" value="Modifier"></a>
        <a href="#"><input type="button" value="Déconnecter"></a>
    </main>
</body>
</html>