@font-face {
    font-family: 'courgetteregular';
    src: url('../fonts/courgette-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'indie_flowerregular';
    src: url('../fonts/indieflower-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'kalambold';
    src: url('../fonts/kalam-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'kalamlight';
    src: url('../fonts/kalam-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'kalamregular';
    src: url('../fonts/kalam-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'lobsterregular';
    src: url('../fonts/lobster-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'lobster_twobold';
    src: url('../fonts/lobstertwo-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'lobster_twobold_italic';
    src: url('../fonts/lobstertwo-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'lobster_twoitalic';
    src: url('../fonts/lobstertwo-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'lobster_tworegular';
    src: url('../fonts/lobstertwo-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'shadows_into_lightregular';
    src: url('../fonts/shadowsintolight-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'caveatregular';
    src: url('../fonts/caveat-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}