body{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: black;
    text-align: center;
}

main{
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    width: 65%;
    background-color: rgb(247, 240, 240);
    border-radius: 40px;
    border: 2px solid grey;
}

header {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}