body{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: black;
    text-align: center;
}

main{
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    width: 65%;
    height: 728px;
    background-color: rgb(247, 240, 240);
    border-radius: 40px;
    border: 2px solid grey;
}

header {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

form{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 7rem;
}

h1{
    font-size: 3rem;
}

input[type="submit"]{
    margin-top: 5.5rem;
    padding: 1rem 2rem;
    border-radius: 25px;
    font-size: 1.2rem;
}